:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-synthesis: none;
  color-scheme: dark;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

:focus-visible {
  outline: 3px solid #fff;
  outline-offset: 2px;
}
